@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>Mantenimientos</h3>
        <p><a asp-controller="Attacks" asp-action="Index">Ataques</a>.</p>
        <p><a asp-controller="Regions" asp-action="Index">Regiones</a>.</p>
        <p><a asp-controller="Types" asp-action="Index">Tipos</a>.</p>
        <p><a asp-controller="Pokemons" asp-action="Index">Pokemones</a>.</p>
    </div>
