.Kanto {
    background-color:rgba(247, 22, 15, 0.80)
}
.Johto{
    background-color:rgba(245, 94, 17, 0.85)
}
.Hoenn {
    background-color:rgba(248, 187, 15, 0.80)
}
.Sinnoh{
    background-color:rgba(95, 85, 8, 0.80)
}
.Teselia{
    background-color:rgba(97, 148, 11, 0.80)
}
.Kalos{
    background-color:rgba(35, 216, 14, 0.80)
}
.Almia{
    background-color:rgba(8, 120, 27, 0.85)
}
.Oblivia{
    background-color:rgba(46, 131, 90, 0.80)
}
.Sol{
    background-color:rgba(19, 114, 163, 0.80)
}
.Ransei{
    background-color:rgba(21, 72, 195, 0.80)
}
.Ferrum{
    background-color:rgba(9, 33, 180, 0.80)
}
.Alola{
    background-color:rgba(127, 14, 216, 0.80)
}
.Aura{
    background-color:rgba(159, 20, 224, 0.80)
}
.Floresta{
    background-color:rgba(206, 81, 180, 0.80)
}
